body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  height: 100%;
  margin: 0 auto;
}

main .collapsible{
  flex: 1 0 auto;
  padding: 20px 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-wrapper .brand-logo {
  padding-left: 10px;
}

.right {
  padding-right: 10px;
}
