body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  height: 100%;
  min-height: 200px;
  margin: 0 auto;
  font-family: 'Libre Franklin', sans-serif;
  flex: 1 0 auto;
  padding: 20px 0;
}

main .collapsible {
  flex: 1 0 auto;
  padding: 20px 0;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 0px 8px 2px rgba(255, 0, 224, 1);
  font-size: 0.60em;
}

footer .col li {
  list-style-type: none;
}

footer .footer-copyright .lastLine {
  margin-bottom: -20px;
}

header .select-wrapper .caret {
  color: white;
  font-size: 8.5px;
}

.nav-wrapper .brand-logo {
  padding-left: 10px;
}

.right {
  padding-right: 10px;
}


/* resize images */
.mainLogo {
  max-width: 100vw;
  max-height: 100vh;
  height: 300px;
  width: auto;
}

header img {
  margin: 0 auto;
  width: 52px;
  height: 55px;
}

.bodyLogo {
  width: 37.5px;
  height: 40px;
  margin: -8px 12.5px 0 0;
}

.input-field {
  box-shadow: 1px 0px 8px 2px rgba(255, 0, 224, 1);
  padding-left: 10px;
}

.container-body {
  padding: 0 0 0 250px;
}

iframe {
  margin: 0 auto;
  margin-top: -10px;
  padding: 0;
  border: none;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}


}
.lastLine a {
  padding: 0 20px;
}

/* unvisited link */
footer a:link {
  color: rgba(119, 119, 136, 1);
}

/* visited link */
footer a:visited {
  color: white;
}

/* mouse over link */
footer a:hover {
  color: rgba(255, 0, 224, 1);
}

/* selected link */
footer a:active {
  color: blue;
}
